* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--gray-600);

  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  background: var(--gray-700);
  width: 100%;
  min-height: 12.5rem;
  padding: 4.5rem auto 5rem;
}

header h1 {
  color: var(--blue, #4ea8de);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

header h1 span {
  color: var(--purple-500, #4ea8de);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 46rem;
  margin: -1.625rem 22rem;
}

.todoInput {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: 100%;
  height: 3.5rem;

  border-radius: 0.5rem;
}

.todoInput button {
  padding: 1rem;
  background-color: var(--blue-500);
  border: none;
  border-radius: 8px;
  color: var(--gray-100);

  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  transition: 0.2s;
}

.todoInput button:hover {
  background-color: var(--blue-400);
  cursor: pointer;
}

.todoInput button[type="submit"]:disabled {
  background-color: var(--gray-400);
  cursor: not-allowed;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  width: 100%;
  margin: 4rem 22rem;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.totalCreated p {
  margin-right: 0.5rem;
  color: var(--blue-400);
  display: inline;
}

.amountCompleted p {
  margin-right: 0.5rem;
  color: var(--purple-400);
  display: inline;
}

.total {
  color: var(--blue-400);
}

.info span {
  font-size: 12px;
  background: var(--gray-400);
  border-radius: 999px;
  padding: 0.13rem 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;
}



